Breed: 
<ng-select
    *ngIf="loaded"
    [items]="breeds"        
    bindLabel="secondaryBreed"
    bindValue="secondaryBreed"
    [(ngModel)]="selectedBreed"
    [selectableGroup]="true"    
    [placeholder]="'Select an option'"
    (change)="breedImagesList()"
    groupBy="mainBreed">
</ng-select>


<ng-container *ngFor="let image of breedImages">
    <img [lazyLoad]="image.src">
</ng-container>
<!--Podriamos poner una páginación (por ejemplo con ngx-pagination) pero he preferido añadir lazy loading-->